.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main > h1 {
  font-size: 2.3rem;
}

.categories {
  width: 35vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: .6rem;
}

.categoryItemImage {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}